:root {
  --white: #dde6f6;
  --dark-purple: #160b75;
  --hot-pink: #8c26a5;
  --light-blue: #008cff;
  --light-purple: #ea00ff;
  --background-color: #021525;
  --slight-transparent-background-color: #000f1c9e;
  --transparent: #ffffff00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: aliceblue;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
/* Optional: Reduce motion preference */
@media (prefers-reduced-motion: reduce) {
  .in-view {
    animation: none;
    transition: none;
  }
}

section > * {
  opacity: 0;
  transform: translateY(30px);
}

/* Trigger smooth animation */
*.in-view {
  animation: reveal-up 0.8s ease-out forwards;
}

@keyframes reveal-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: var(--background-color);
  width: 100%;
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Fills remaining space */
}
section {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  padding: 0 15%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
h2 {
  font-size: 32px;
}
p {
  font-size: 18px;
}
nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  width: 100%;
  justify-content: right;
  align-items: end;
  text-align: center;
  padding: 10px 10%;
  background-color: var(--slight-transparent-background-color);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
}
#nav-logo {
  display: flex;
  margin-right: auto;
  margin-top: auto;
  height: 50px;
  padding: 0;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  height: 100%;
  padding: 0 24px;
  display: block;
}
nav ul li a:not(.icon-link)::after {
  content: "";
  width: 0;
  height: 4px;
  background: var(--white);
  display: block;
  margin: auto;
  transition: width 0.3s;
}
nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}
nav ul li a.active::after {
  background: var(--white);
}
.sidebar-mobile {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #011424c0;
  backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}
.sidebar-mobile li,
.sidebar-mobile a {
  width: 100%;
  padding: 10px;
}
.menu-button {
  display: none;
}
.row-title {
  flex: 100%;
  margin: auto;
  text-align: center;
  color: #ffffff00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 1000;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--white);
}
#text-highlight {
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: 0;
}
.row-home,
.row-about {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#col-home-profile {
  flex: 40%;
}
#col-about-profile {
  flex: 30%;
}

#col-home-profile img,
#col-about-profile img {
  width: 100%;
}
.col-home-intro,
.col-about-description {
  margin: auto;
}
.col-home-intro {
  flex: 60%;
}
.col-about-description {
  flex: 70%;
}
.col-home-intro {
  align-items: center;
  text-align: left;
}
#name {
  display: inline-block;
  text-align: left;
  color: #ffffff00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 52px;
  font-weight: 1000;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--white);
  animation: typing 2s steps(20), blink-cursor 0.4s step-end infinite alternate;
}
@keyframes blink-cursor {
  50% {
    border-right-color: transparent;
  }
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

.col-about-description {
  text-align: justify;
  height: fit-content;
  padding: 0 20px;
}
.col-about-description p {
  margin: 20px 0;
}
.col-project,
.col-skills {
  flex: 33%;
}
.col-skills,
.col-project {
  flex-direction: row;
  margin: auto;
  width: 50%;
  padding: 1%;
  text-align: center;
}
.col-skills {
  height: 250px;
}
.col-project {
  align-items: center;
  justify-content: center;
  height: 450px;
}
.col-skills ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-top: 10px;
  height: 100%;
}

.col-skills ul li {
  text-decoration: none;
  list-style: none;
}
.col-skills ul li img {
  height: 20px;
  margin-right: 10px;
  align-self: center;
  justify-self: center;
}
.card h3 {
  border-bottom: 4px solid var(--white);
  width: 90%;
}
.card p {
  font-size: 16px;
  margin: 10px auto;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 100%;
  margin: auto;
  min-height: 100%;
  height: fit-content;
  padding: 5px;
  border-radius: 30px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
.card_content {
  display: flex;
  flex-direction: column;
  flex: 100%;
  text-align: center;
  align-items: center;
  padding: 2%;
  background: rgb(5, 6, 45);
  border-radius: 24px;
  width: 100%;
  height: 100%;
}
.col-project .card_content {
  padding: 10%;
}
#show-cv-button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1em;
  width: 200px;
  text-align: center;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

#show-cv-button:active,
#show-cv-button:hover {
  outline: 0;
}

#show-cv-button span,
.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
#show-cv-button span {
  border-radius: 6px;
}

#show-cv-button:hover span,
.button:hover span {
  background: none;
}
.button:hover span {
  color: var(--background-color);
}

#show-cv-button:active,
.button:active {
  transform: scale(0.9);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--background-color);
  margin-top: 10px;
  font-size: 16px;
  line-height: 1em;
  width: 200px;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
.card_content .button {
  margin-top: auto;
  margin-bottom: 10px;
  align-self: center;
}
.card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
.row-about,
.row-contact {
  background-color: var(--background-color);
}
.row-contact p {
  text-align: center;
  margin: 20px auto;
}
.contacts {
  display: flex;
  flex: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.socials img {
  flex: 25%;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}
.socials a {
  text-decoration: none;
}
.socials img:hover {
  transform: scale(1.1);
}
footer {
  width: 100%;
  text-align: center;
  padding: 16px 0;
}
@media screen and (max-width: 1315px) {
  nav {
    padding: 10px 5%;
  }
  section {
    padding: 0 5%;
  }
}
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  section {
    padding: 0 5%;
    min-height: 100vh;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .row-home {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #show-cv-button {
    margin: auto;
  }
  #col-home-profile,
  #col-about-profile {
    display: flex;
    flex: 100%;
    width: 100%;
    order: 1;
    justify-content: center;
    align-items: center;
  }
  #col-home-profile img,
  #col-about-profile img {
    height: 300px;
  }
  .col-home-intro {
    text-align: center;
  }
  .col-home-intro,
  .col-about-description {
    order: 2;
  }
  #name,
  .row-title,
  h1 {
    font-size: 48px;
    text-align: center;
  }
  .card_content {
    padding: 20px;
  }
  .col-project .card_content {
    padding: 5%;
  }
}
@media screen and (max-width: 815px) {
  #menu-icon {
    display: block;
    margin-left: auto;
    border: 2px solid var(--white);
    border-radius: 7px;
  }
  nav img {
    display: block;
    margin-right: auto;
  }
  #close-icon {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .hide-on-mobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  nav,
  nav ul li a {
    padding: 10px;
  }
  nav ul li a:not(.icon-link)::after {
    height: 4px;
    background-color: #ffffff;
  }
  section {
    flex-direction: row;
    padding: 5% 5% 0;
  }
  .row-home {
    margin-top: 10px;
  }
  #col-home-profile,
  .col-home-intro {
    flex: 100%;
  }
  .col-home-intro {
    text-align: center;
  }
  .col-skills {
    flex: 50%;
  }
  .col-project {
    flex: 80%;
    height: fit-content;
    padding: 2%;
  }

  #col-home-profile img,
  #col-about-profile img {
    height: 200px;
  }
  h1,
  #name,
  .row-title {
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
  }
  h2 {
    font-size: 24px;
  }
  .col-skills ul li,
  p {
    font-size: 16px;
  }
  .card_content {
    padding: 10px;
  }
  .row-skills .card_content {
    padding: 10px;
  }
  .col-project .card_content {
    padding: 2%;
  }
  #show-cv-button {
    text-align: center;
    padding: 4px;
  }
  #show-cv-button span {
    font-size: 16px;
  }
  .socials img {
    flex: 50%;
    height: 42px;
    margin: 2px;
    transition: transform 0.3s ease-in-out;
  }
}
@media screen and (max-width: 548px) {
  .col-about-description {
    text-align: left;
    height: fit-content;
    padding: 0;
  }

  #col-home-profile,
  #col-about-profile {
    flex: 100%;
    width: 100%;
  }
  #col-home-profile img,
  #col-about-profile img {
    width: 80%;
  }
  #name {
    font-size: 30px;
  }
  .col-skills,
  .col-project {
    flex: 90%;
  }
  .col-skills,
  .col-project {
    height: fit-content;
  }
}

@media screen and (max-width: 320px) {
  .row-home {
    margin-top: 0;
    height: 100vh;
  }
  .col-about-description {
    padding: 0;
  }
  #name {
    font-size: 26px;
  }
}
