:root {
  --white: #dde6f6;
  --dark-purple: #160b75;
  --hot-pink: #8c26a5;
  --light-blue: #008cff;
  --light-purple: #ea00ff;
  --background-color: #000f1c;
  --transparent: #ffffff00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid rgb(95, 55, 55);
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--background-color);
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h2 {
  font-size: 32px;
}
p {
  font-size: 18px;
}

nav {
  background-color: var(--background-color);
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: right;
  text-align: center;
  padding: 0 10%;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 24px 0 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  height: 100%;
  padding: 0 24px;
  display: block;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background: var(--white);
  display: block;
  margin: auto;
  transition: width 1s;
}
nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}
nav ul li a.active::after {
  background: var(--white); /* or any color you want */
}
section {
  display: flex;
  height: 100vh;
  width: 60%;
  margin: auto;
}
.row-title {
  flex: 100%;
  height: 100px;
  margin: auto;
  text-align: center;
  color: #ffffff00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 1000;
}
.row-home,
.row-contact {
  display: flex;
}
.col-home-intro,
#col-home-profile {
  margin: auto;
}
#col-home-profile {
  flex: 40%;
}
#col-home-profile img {
  width: 100%;
}
.col-home-intro {
  flex: 60%;
}
#name,
.col-title {
  text-align: left !important;
  color: #ffffff00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 1000;
}
.row-about {
  display: block;
}
.row-about p {
  text-align: justify;
  margin-top: 20px;
}
.col-title {
  margin: auto;
}
footer {
  background-color: var(--background-color);
  color: var(--white);
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  body {
    width: 100%;
  }
  section {
    width: 90% !important; /* Override fixed width */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #col-home-profile {
    flex: 100%;
    width: 100%;
    display: flex;
    order: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #col-home-profile img {
    width: 50%;
  }
  .col-home-intro {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  nav {
    display: block;
  }
  section {
    flex-direction: column;
  }
  .row-home {
    height: 100vh;
  }
  #col-home-profile img {
    width: 90%;
  }
  .col-home-intro {
    text-align: center;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 10px;
  }
  p {
    font-size: 18px;
  }
}
